<!DOCTYPE html>

<html>

<head>
  <title>Vonage Octopus Country Filter Configurator </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="./css/bootstrap-select.min.css" type="text/css" />
  <link rel="stylesheet" href="./css/bootstrap-select-country.min.css" type="text/css" />

  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/bootstrap-select.min.js"></script>
  <script src="./js/bootstrap-select-country.min.js"></script>

</head>

<body>
  <div style="margin: 10px auto 10px auto;height: 30px;max-width: 1000px;">
    <div style="float: right;">
      <span style="display: inline-flex;">
        <div class="user" style="padding: 5px;margin: auto 0;">
          Vonage User "<%= user %>"
        </div>
        <div>
          <form action="./logout" method="post" style="padding: 5px;margin: auto 0;">
            <button class="logout" type="submit">Sign out</button>
          </form>
        </div>
      </span>

    </div>
    <span style="float: left;margin: auto 0;padding: 5px;">
      <label>Vonage Octopus Country Filter Configurator</label>
    </span>
  </div>
  <hr style="border-color: darkgray;border-width: 1px;">
  <div style="display: grid; padding: 20px; min-width: 300px; max-width:600px; margin: 0 auto;">
    <a href = "numbers/conf">Number Filter Configurator</a>
    <a href = "country/conf">Country Filter Configurator</a>
  </div>

  



</body>

</html>